h1{
    color: #205d76;
    font-size: 70px;
}

.header-style{
    text-align: center;
}

.main-heading{
    color: #205d76;
    font-size: 30px;
}

.list-text{
    color: orange;
}

.list-text2{
    color: orange;
    font-size: 22px;
}